<h1>Odin Flight Booker</h1>

<%= form_for(:search ,url: flights_path, method: "get") do |f| %>
	<% options = @airports.map { |e| [e.code, e.id] } %>
	<% date_options = @flights.map { |e| [ e.datetime.strftime("%d/%m/%Y") ,
		e.datetime.strftime("%d-%m-%Y")] } %>

	<%= f.label :airports_from, "From: " %>
	<%= f.select :airports_from, options_for_select(options)%>

	<%= f.label :airports_to, "To: " %>
	<%= f.select :airports_to, options_for_select(options) %>

	<%= f.label :passangers, "Number of passangers: " %>
	<%= f.select :passangers, options_for_select([[1,1],[2,2],[3,3],[4,4]]) %>

	<%= f.label :date, "Date" %>
	<%= f.select :date, options_for_select(date_options) %>

	<%= f.submit("Search")%>
<% end %>

<% if params_exist? %>
	<style>

	</style>
	<h2>Flights found: </h2>
	<% if @result.empty? %>
		<p>No results found</p>
	<% else %>
	<%= form_tag '#', method: 'get' do %>
			<table>
			<tr>
				<th>Select a Flight</th>
				<th>Flight ID</th>
				<th>From Airport</th>
				<th>To Airport</th>
				<th>Date</th>
				<th>Duration</th>
			</tr>
				<% @result.each do |flight| %>
				<tr>
					<th><%= radio_button("flight","flight_id", flight.id) %></th>
					<th><%= flight.id %></th>
					<th><%= flight.from_airport.code %></th>
					<th><%= flight.to_airport.code %></th>
					<th><%= flight.datetime.strftime("%d/%m/%Y at %H:%m ") %></th>
					<th><%= "#{flight.duration}h" %></th>
				</tr>
				<% end %>
			</table>
			<%= submit_tag "Select Flight" %>
			<% end %>
		<% end %>
<% end %>