<h1>Odin Flight Booker</h1>

<%= form_for(:search ,url: flights_path, method: "get") do |f| %>
	<% options = @airports.map { |e| [e.code, e.id] } %>
	<% date_options = @flights.map { |e| [ e.datetime.strftime("%d/%m/%Y") ,e.id] } %>

	<%= f.label :airports_from, "From: " %>
	<%= f.select :airports_from, options_for_select(options)%>

	<%= f.label :airports_to, "To: " %>
	<%= f.select :airports_to, options_for_select(options) %>

	<%= f.label :passangers, "Number of passangers: " %>
	<%= f.select :passangers, options_for_select([[1,1],[2,2],[3,3],[4,4]]) %>

	<%= f.label :date, "Date" %>
	<%= f.select :date, options_for_select(date_options) %>

	<%= f.submit("Search")%>
<% end %>

<% if params_exist? %>
	<h2>Flights found: </h2>
<% end %>